body {
    background-color: rgb(0, 0, 0,.6);
    /*background-image: url('../img/UNDACimg.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#video-background {
    min-height: 100%;
    position: fixed;
    min-width: 100%;

    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    z-index: -1;

}
.iconoSalir {
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
}

.iconoSalir:hover {
    padding: 12px;
}
a.salir{
    transition: 500ms;
}

a.salir:hover{
    background:#000; 
    padding:3px; 
    border-radius:5px;
}
